@charset "UTF-8";

body{
    background-color: #0B0708;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card{
    height: 200px;
    background-color: #7EFF82;
    border-radius: 8px;
}